* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: H-italic;
  src: url(fonts/tf-Italic.otf);
}

@font-face {
  font-family: H;
  src: url(fonts/tf-regular.otf);
}

i {
  font-family: H-italic;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "H";
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.chapter-header + h3 {
  text-transform: uppercase !important;
  font-weight: normal !important;
  text-align: center !important;
  letter-spacing: 3px !important;
}

footer .chapter-header {
  display:none;
}

.info {
  position: absolute;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#title {
  margin: 5rem 1rem 0rem 1rem;
  text-align: center;
  font-size: 44px;
  line-height: 50px;
  -webkit-animation: title_blur 3s;
  animation-iteration-count: 1;
}

#title p {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

header {
  box-shadow: rgb(255, 255, 255) 0px 0px 1rem 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem 0 0 0;
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  transition: background-color 0.5s ease;
}

article {
  width: 50%;
  margin-left: 25%;
}

#menu {
  float:right;
  position: sticky;
  top: 1rem;
  font-family: H-Italic;
  border: none;
  background-color: inherit;
  font-size: 1rem;
  font-size: 22px;
  line-height: 25px;
  z-index: 1001;
  margin-right: -47%;
}


#sub-menu {
  padding: 0;
  position: fixed;
  top: 2rem;
  -webkit-padding-start: 0;
  list-style-type: none;
  list-style: none;
  display: none;
  margin: 2rem 2rem 0 0.7rem;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: rgb(255, 255, 255) 0px 0px 1rem 1rem;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}

#sub-menu li {
    text-align: center;
    padding: 0.5rem;
}

#landing {
  height: 46%;
}

.chapter-header {
  padding: 0;
  top: 1rem;
  z-index: 110;
  position: sticky;
  left: 2rem;
  font-size: 22px;
  line-height: 25px;
  margin-left: -47%;
}

.chapter-header a {
  text-decoration: none;
}

.intro {
  font-size: 33px;
  line-height: 37px;
  text-align: justify;
  text-justify: auto;
}

#methods, #language, #author {
  font-size: 22px;
  line-height: 25px;
}

.thesis {
  font-size: 22px;
  line-height: 25px;
  text-align: justify;
  text-justify: auto;
  position: relative;
}

.thesis p {
  text-indent: 50px;
  margin: 0;
}

.quote {
  font-family: H-Italic;
}

.note {
  width: 26%;
  font-size: 14px;
  line-height: 16px;
  stroke: solid 1px;
  text-align: left;
  display: inline-block;
  margin: 0;
  text-indent: -1em;
}

.footnotes-mobile {
  display: none;
  font-size: 0.7rem;
  line-height: 1.2em;
}

.caption,
.bib,
.cred {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.cred p {
  text-indent: 0;
  margin: 0.5rem 0 0 0;
}

.image p {
  margin-top: 10px;
  text-indent: 0px;
}

.bib p {
  text-indent: -2rem;
  margin: 0.5rem 0 0 2rem;
}

.image{
  text-align: center;
  margin: 20px 0px 10px 0px;
}

img {
  max-height: 600px;
  max-width: 100%;
  -webkit-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
}

img:hover {
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
  transition: 0.6s ease;
}

#mermaid-one {
  top: 0;
  position: fixed;
  z-index: -1;
}

canvas {
  filter: blur(5px) infinite; /* W3C */
  -webkit-filter: blur(5px) infinite;
  -webkit-animation: canvas_blur 20s infinite;
}

.numbers {
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 2px;
  cursor: pointer;
}

footer {
  margin-top: 50px;
  border-top: 1px solid silver;
  font-size: 0.8em;
}

footer ol {
  padding-left: 20px;
}

footer :target {
  box-shadow: #999 0px 0px 1rem 1rem;
  background-color: #999;
}

.bib :target {
  box-shadow: #999 0px 0px 1rem 1rem;
  background-color: #999;
}

#tiki {
  text-decoration: underline;
}

#tiki + img{
  display: none;
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
}

#tiki:hover + img{
    left:30%;
    display: block;
    width: 150px;
    min-height: 200px;
    z-index: 1110;
    position: absolute;
  }

  #back2Top {
    width: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    background-color: #DDD;
    color: #555;
    text-align: center;
}

@media only screen and (max-width: 600px) {

  #landing {
    height: 10%;
}

#title {
  font-size: 1.7em;
  line-height: 1.2em;
}

  #menu, .chapter-header {
    margin: 0;
  }

  #abstract {
    font-size: 22px;
    line-height: 25px;
  }

  article {
    width: 90%;
    margin: 1em;
  }

  .note {
    display: none;
  }

  .footnotes-mobile {
    display: block;
    transition: display 0.2s ease-out;
  }

  img:active {
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
  transition: 0.6s ease;
  }
}

@-webkit-keyframes canvas_blur {
  0% {
    -webkit-filter: blur(15px);
  }
  50% {
    -webkit-filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(15px);
  }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes title_blur {
  0% {
    -webkit-filter: blur(6px);
  }

  50% {
      -webkit-filter: blur(2px);
  }

  100% {
    -webkit-filter: blur(0px);
  }
}
