* {
  box-sizing: border-box;
  font-family: "Henry";
}

@font-face {
  font-family: Henry-italic;
  src: url(fonts/Henry-Italic.otf);
  font-weight: italic;
}

@font-face {
  font-family: Henry;
  src: url(fonts/Henry-Regular.otf);
}

i {
  font-family: Henry-italic;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3,
h2,
h1 {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  letter-spacing: 3px;
}

#title {
  margin-top: 10%;
}

.chapter-header, .header {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  top: 10px;
  text-transform: uppercase;
}

.chapter-header {
  position: sticky;
  margin-left: -47%;
}

.header {
  right: 5px;
  position: fixed;
  right: 5%;
  top: -3px;
}

h2 {
  font-family: Henry-italic;
  text-transform: inherit;
  letter-spacing: inherit;
}

.intro {
  font-size: 28px;
  line-height: 34px;
  width: 50%;
  text-align: justify;
  text-justify: auto;
  margin-left: 25%;
}

.thesis {
  font-size: 22px;
  line-height: 25px;
  width: 50%;
  text-align: justify;
  text-justify: auto;
  margin-left: 25%;
  position: relative;
}

.thesis p {
  text-indent: 50px;
  margin: 0;
}

.quote {
  font-family: Henry-italic;
  width: 80%;
}

.note {
  width: 25%;
  font-size: 14px;
  line-height: 16px;
  stroke: solid 1px;
  text-align: left;
  display: inline-block;
  margin: 0;
}

.footnotes-mobile {
  display: none;
}

.caption,
.bib,
.cred {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.image p {
  margin-top: 10px;
  text-indent: 0px;
}

@media only screen and (max-width: 600px) {
  .thesis {
    width: 90%;
    margin: 20px;
    font-size: 28px;
    line-height: 34px;
  }

  .note {
    display: none;
  }

  .footnotes-mobile {
    display: block;
  }
}

.bib p {
  margin-left: 100px;
  text-indent: -50px;
  margin-right: 100px;
  margin-top: 0px;
  margin-bottom: 0;
}

.image{
  text-align: center;
  margin: 20px 0px 10px 0px;
}

img {
  max-height: 600px;
  max-width: 100%;
  -webkit-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
}

img:hover {
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
}

canvas {
  top: 0;
  position: fixed;
  z-index: -1;
  filter: blur(20px) infinite; /* W3C */
  -webkit-filter: blur(20px) infinite;
  -webkit-animation: canvas_blur 20s infinite;
}

.numbers {
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 2px;
  cursor: pointer;
}

footer {
  margin-top: 50px;
  border-top: 1px solid silver;
  font-size: 0.8em;
}

footer ol {
  padding-left: 20px;
}

/**
 * Initialiazing a `footnotes` counter on the wrapper
 */
article {
  counter-reset: footnotes;
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
[aria-describedby="footnote-label"] {
  counter-increment: footnotes; /* 1 */
  text-decoration: none; /* 2 */
  color: inherit; /* 2 */
  cursor: default; /* 2 */
  outline: none; /* 2 */
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
[aria-describedby="footnote-label"]::after {
  content: "[" counter(footnotes) "]"; /* 1 */
  vertical-align: super; /* 2 */
  font-size: 0.5em; /* 3 */
  margin-left: 2px; /* 4 */
  color: blue; /* 5 */
  text-decoration: underline; /* 5 */
  cursor: pointer; /* 5 */
}

/**
 * Resetting the default focused styles on the number
 */
[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label="Back to content"] {
  font-size: 0.8em;
}

/**
 * Highlight target note
 */
footer :target {
  background: yellow;
}

/**
 * Visually hidden yet accessible content
 */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  visibility: hidden;
  opacity: 0;
}

.p {
  text-align: center;
  font-size: 0.75em;
  padding-top: 150px;
}

@-webkit-keyframes canvas_blur {
  0% {
    -webkit-filter: blur(15px);
  }
  50% {
    -webkit-filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(15px);
  }
}
